<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            height: 100vh;
            /* background: linear-gradient(to top left, #e898c0, #e4e0ea); */
            background-color: rgb(224, 219, 222);
        }

        h1 {
            color: rgb(2, 46, 2);
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-header">
            <h1><B>Calculator</B></h1>
        </div>
        {% block content %}

        {% endblock %}
</body>

</html>